body {

    background-image:  url("slidebanner3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Righteous', cursive;
}

.container {
    background-color: rgb(89, 120, 255);
    opacity:0.6;
    border: blue;

}

h1 {

}

